body,
html {
  height: 100%;
}
#song-action-btns:hover {
  width: 100%;

  animation: pulse 7s infinite;
}

@keyframes pulse {
  50% {
    color: #82e276;
  }
  90% {
    color: #ff4136;
  }
  30% {
    color: #f44195;
  }
}
#root {
  background-color: #f44195;
  height: 100%;
}
.song {
  font-size: 20px;
}
#volume-control {
  width: 75%;
  text-align: center;
  padding-right: 1rem;
  font-size: 20px;

  animation: pulse 7.3s infinite;
}

#time-control {
  font-size: 20px;
}

#play-pause {
  -webkit-border-radius: 3px;
  border-radius: 10px;
  border: none;
  color: #d6c5c5;
  cursor: pointer;

  font-size: 30px;
  padding: 5px 10px;

  text-decoration: none;
  -webkit-animation: glowing 1800ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

#song-action-btns:hover {
  color: hotpink;
}
#song-action-btns {
  font-size: 25px;
}

#play-pause:hover {
  color: hotpink;
}

#song-title-color1:hover {
  color: blue;
}
#next {
  font-size: 23px;
}

#next:hover {
  font-size: 23px;
  color: hotpink;
}
#previous {
  font-size: 23px;
}
#previous:hover {
  color: hotpink;
}

.bloc-jams-header {
  max-width: 700px;
}

.card-deck {
  opacity: 0.75;
}

.card-header {
  height: 100px;
}

.player-bar {
  position: fixed;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  background: #4286f4;
  z-index: 100;
}

.player-bar .container {
  display: table;
  padding: 0;
  width: 90%;
  min-height: 100%;
}

.player-bar .control-group {
  display: table-row;
  vertical-align: middle;
}

#buttons {
  width: 25%;
  text-align: center;
  color: pink;
}

.song:hover {
  -webkit-border-radius: 3px;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  padding: 5px 10px;

  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  @-webkit-keyframes glowing {
    0% {
      background-color: #b20000;
      -webkit-box-shadow: 0 0 3px #b20000;
    }
    50% {
      background-color: #dbff33;
      -webkit-box-shadow: 0 0 40px #ff0000;
    }
    100% {
      background-color: #b20000;
      -webkit-box-shadow: 0 0 3px #b20000;
    }
  }
}
#song-list {
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}
#time-control {
  width: 75%;
  text-align: center;
  padding-right: 2rem;
}
@media (max-width: 1000px) {
  .player-bar {
    height: 100px;
  }

  #album-cover-art {
    height: 300px;
    width: 300px;
  }
}
